*{
    background-color: gainsboro;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0; /* Screen adjust */
    height: 100vh; /* Screen adjust*/
}

.board{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}
.row{
 display: flex;
 flex-wrap: nowrap;
 width: 100%;
}

.square{
    border: 1px solid black;
    width: calc(100% / 16);


}